@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-light">Witam!</h1>
    <p>Witam w aplikacji QuestioNix</p>
    <p>Aplikacja pomaga w uporządkowaniu codziennego harmonogramu zadań które mamy do wykonania.</p>
    <button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Index", "Quest")'">Rozpocznij</button>
</div>
